{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1500,"scrollleft":0,"selection":{"start":{"row":74,"column":0},"end":{"row":74,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1588427052103,"hash":"30cfa05b7a783004ae8afe47b909425e525aaaec"}