{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":18,"column":0},"end":{"row":18,"column":16},"action":"remove","lines":["cloud-init==19.4"],"id":2},{"start":{"row":17,"column":10},"end":{"row":18,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":120,"scrollleft":0,"selection":{"start":{"row":17,"column":10},"end":{"row":17,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":5,"state":"start","mode":"ace/mode/text"}},"timestamp":1588680337649,"hash":"041d61aec3bfeec977d7506e2dee14ddbd30c111"}