{% extends 'base.html' %}{% load staticfiles %}
{% block head_js %}
<script src="{% static 'js/custom.js'%}"></script>
{% endblock %}
{% block content %}
<h1 class="text-center title">Our products for you!</h1>
<h4 class="text-center">Or login and book a personal training session now!</h4>
<div class="row">
    <img src="{% static 'images/bg.png' %}" class="center-block products-header" alt="weights" />
</div>
<button class="filter center-block btn-lg btn-primary">Filter Results</button>

<div class="container">
    <div class="display col-sm-6 options filters">
        <form action="{% url 'search' %}" class="text-center" method="get">
            <label for="search">Search:</label>
            <input id="search" class="form-control" type="text" name="q">
            <button type="submit" class="btn btn-success search-button">Search</button>
        </form>
    </div>

    <div class="display col-sm-6 options filters">
        <form action="{% url 'categories' %}" class="text-center" method="get">
            <label for="categories">Categories:</label>
            <select class="form-control" name="q">
            <option value="">All</option>
            <option value="M">Mens</option>
            <option value="W">Womens</option>
            <option value="E">Equipment</option>
        </select>
            <button type="submit" class="btn btn-success search-button">Search</button>
        </form>
    </div>
</div>

{{ Product }}

<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p>£{{ product.price }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" value="1" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <img src="{% static 'images/bg.png' %}" class="center-block products-header" alt="weights" />
</div>
{% endblock %}
