{% extends 'base.html' %}
{% load bootstrap_tags %}{% block content %}
<p>We believe your current email is: {{ profile.email }} but to be sure please complete the quick form below</p>

<form method="POST">
    {% csrf_token %} {{ get_email | as_bootstrap}}
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<script src="classes/emails.js"></script>
<script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script>
    (function() {
        emailjs.init("user_aOXkO6zpybZx3E58jGjeI");
    })();
</script>
{% endblock %}
<label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" maxlength="100" required>
    
    <label for="your_email">Your email: </label>
    <input id="your_email" type="text" name="your_email" maxlength="100" required>
    
    <label for="your_request">What suits you best? </label>
    <input id="your_request" type="text" name="your_request" maxlength="100" required>
    <button class="form-button">Send</button>
