body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}

.bg-color {
    background-color: lightblue;
}

.bg-item{
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 10px;
}

.products-header{
    height: 5vh;
    width: auto;
}

.icon-bar {
    background-color: #fff;
}

.classes {
    width: 33%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.filters {
    display: none;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.search-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
    background-color: lightblue;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

.product-description {
    min-height: 40px;
}
